<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>modificar</title>
    </head>
    <body>
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="btn btn-light">Volver a inicio</a></li>
            </ul>
        </header>

        <main>
            <form class="formulario" th:action="@{#}" method="POST">
                <input hidden th:value="${id}" name="id">

                <div>
                    <h5>Modificar Usuario</h5>
                    <input th:value="${#}" type="text" name="nombre" placeholder="nombre">
                    <input th:value="${#}" type="email" name="email" placeholder="email">
                    <input th:value="${#}" type="text" name="tipo de.." placeholder="tipo de..">
                    <input th:value="${#}" type="text" name="voluntario" placeholder="voluntario">
                </div>
            </form>
            <div class="mb-5">
                <div>
                    <button type="submit" class="btn btn-outline-primary">actualizar</button>
                </div>


            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    </body>
</html>
