<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Solidaridad Compartida</title>
        <link rel="stylesheet" th:href="@{/style_login_css.css}">
        <link href="style.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <style>
            .btn-a{background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);color: black;border: 0px;padding: 25px 40px;font-size: 25px;border-radius: 7px;}
            .btn-a:hover{color: whitesmoke;}
        </style>
    </head>
    <body >
        <header style="display: flex;min-height: 70px;justify-content: space-between;background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);align-items: center;padding: 10px;">
            <div class="logo" style="display: flex;align-items: center;">
                <img  th:src="@{/images/register_logo_1.jpg}" alt="logo" style="height: 50px;margin-right: 10px;border-radius: 15px;">
                <h3 class="name-company" style="color: aliceblue;">Solidaridad Compartida</h3>
            </div>
            <nav>
                <a href="" class="link"></a>
                <a href="" class="link"></a>
                <!--<a href="" class="link"></a>-->
            </nav>
        </header>
        <main >

            <div style="height: 50px; margin: 5%;display: flex;justify-content: center;align-items: center;">

                <a class="btn-a" style="margin-right: 100px;" th:href="@{/admin/listBeneficiary}" >Beneficiarios</a>

                <a class="btn-a" th:href="@{/admin/listDonors}" >Donadores</a>

               
            </div>
        </main>



        <footer class="footer" style="margin-top:28%;" >
            <div>

                <p class="textFooter">&copy; 2022 Solaridad compartida. </p>


            </div>


        </footer>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    </body>
</html>































<!--< 
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" th:href="@{/style_login_css.css}">
        <link href="style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>

    <body class="body">

        <header>


            <nav class="navbar navbar-expand-lg navbar-dark" id="navbar" aria-label="Offcanvas navbar large">
                <div class="container-fluid" id="navbar">
                    <a class="navbar-brand" id="tit-navbar" href="#"> Solaridad compartida</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
                         aria-labelledby="offcanvasNavbar2Label">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        
                                <li class="nav-item">
                                    <a class="nav-link active" th:href="@{/admin/listBeneficiary}" >Beneficiarios</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" th:href="@{/admin/listDonors}" >Donadores</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>


            <div th:if="${param.success}">
                <div class="alert alert-success alert-dismissible fade show">
                    <span type="button" class="close" data-dismiss="alert" aria-label="close">&times;</span> 
                    <span> <strong>Su usuario ha sido ingresado con éxito</strong> </span>
                </div> </div> 







            <div class="blocks">
                <h1 class="subnav-hero-headline">Conexiones<small> como</small></h1>
                <ul class="subnav-hero-subnav">
                    <li><a href="#" class="op">Beneficiario!</a></li>
                    <li><a href="#" class="op">Donante!</a></li>
                    <li><a target="_blank" href="https://zurb.com/responsive" class="op">Just do it!</a></li>
                </ul>
            </div>
        </header>

        <main class="container py-5" id="mainFormBeneficiary">




            <div class="row" data-masonry='{"percentPosition": true }'>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6"
                                                                                dy=".3em">Image cap</text>
                        </svg>

                        <div class="card-body">
                            <h5 class="card-title">Card title that wraps to a new line</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card p-3">
                        <figure class="p-3 mb-0">
                            <blockquote class="blockquote">
                                <p>A well-known quote, contained in a blockquote element.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-muted">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6"
                                                                                dy=".3em">Image cap</text>
                        </svg>

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card text-bg-primary text-center p-3">
                        <figure class="mb-0">
                            <blockquote class="blockquote">
                                <p>A well-known quote, contained in a blockquote element.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-white">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <svg class="bd-placeholder-img card-img" width="100%" height="260"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6"
                                                                                dy=".3em">Card image</text>
                        </svg>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card p-3 text-end">
                        <figure class="mb-0">
                            <blockquote class="blockquote">
                                <p>A well-known quote, contained in a blockquote element.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-muted">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is another card with title and supporting text below. This card has
                                some additional content to make it slightly taller overall.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <footer class="footer" >
            <div>

                <p class="textFooter">&copy; 2022 Solaridad compartida. </p>


            </div>


        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    </body>

</html> 
</a>-->


